<link rel="stylesheet" href="/app.css" />

<h1>JOIN US</h1>
<p class="lead">
	ENTER YOUR EMAIL TO JOIN
	<strong><%=userCount%></strong>
	OTHER ON THE WAITING LIST
</p>

<form method="POST" action="/register">
	<input type="text" name="email" class="form" placeholder="Enter Your Email" />
	<button>join now</button>
</form>
